* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tweet-post-form {
  background-color: #ebebeb;
  padding: 12px;
}

.tweet-box {
  border: 1px solid;
  padding: 3px;
  width: 75%;
  margin-bottom: 10px;
}

.tweet-header {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-flex;
}

#tweet {
  padding-left: 40px;
  width: auto;
  max-width: 60%;
}

.tweet-container {
  margin-top: 10px;
}

.user {
  width: 100%;
  display: inline-block;
}

#tweet .user img {
  width: 54px;
  height: 54px;
  object-fit: cover;
  border-radius: 58px;
  margin: 0px;
  margin-right: 5px;
  box-sizing: border-box;
  float: left;
  clear: both;
}
.username {
  padding: 8px;
  box-sizing: border-box;
  max-width: 90%;
  float: left;
}
.user .name {
  font-size: 25px;
  font-weight: 900;
  color: black;
  margin-bottom: 3px;
}
.user .handle {
  font-size: 18px;
  font-weight: 600;
  color: #8a9ba8;
}

.tweet-content {
  display: flex;
  color: black;
  line-height: 28px;
}

a {
  color: #1da2f4;
  text-decoration: none;
}

.media {
  width: auto;
  height: 300px;
  object-fit: cover;
}
.date {
  color: #8a9ba8;
  font-size: 15px;
  font-weight: 400;
}
.rl {
  color: #8a9ba8;
  margin: 0px;
  box-sizing: border-box;
  font-size: 15px;
  position: relative;
  display: flex;
  font-weight: 400;
}

.retweets b {
  color: black;
}

.likes b {
  color: black;
  margin-left: 100px;
}

.icons {
  width: 100%;
  margin-top: 0px;
  padding: 0;
  position: relative;
  height: 37px;
  color: #5bc0de;
  /* border-bottom: 1px solid #15202a; */
}

.tweet-content span {
  margin-right: 5px;
}
